[submodule "apps/fishi-tracking-app"]
	path = apps/fishi-tracking-app
	url = https://github.com/mikepattyn/fish-tracking-app
[submodule "apps/kapsalon"]
	path = apps/kapsalon
	url = https://github.com/mikepattyn/kapsalon
[submodule "apps/alienbutnice"]
	path = apps/alienbutnice
	url = https://github.com/mikepattyn/alienbutnice.git
